.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.header_logo {
    font-family: serif;
    font-size: 50px;
    margin: 0px;
    color: #e082e0;
    font-weight: normal;
    letter-spacing: 5px;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
    align-items: center;
}

.nav li a,
.header__logout {
    display: inline-block;
    padding: 8px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.setting_icon::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/setting.png) no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
        top: -2px;
}

.header__logout::before {
    font-family: inherit;
    line-height: normal;
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/logout.png) no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
        top: 2px;
}

