body {
    background: #fafafa;
    font-family: "Helvetica Neue", "Noto Sans JP", sans-serif;
    color: #333;
}

/* 上部ステータス */
.container {
    max-width: 1200px;
    margin: 50px auto;
}

.status-box {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 16px;
    padding: 20px 40px;
    margin-bottom: 30px;
}

.status-item {
    flex: 1;
    text-align: center;
    position: relative;
}

.status-item:not(:last-child) {
    border-right: 2px solid #ddd;
}

.status-item h2 {
    font-size: 32px;
    font-weight: 600;
}

.weight-data {
    background: #fff;
    border-radius: 16px;
}

/* 検索 */
.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 20px 10px;
    right: 20px;
    padding-top: 20px;
}

.search-box input[type="date"] {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    background: #fff;
    cursor: pointer;
}

.search-box span {
    font-size: 14px;
    color: #888;
}

.search-box .btn {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: #999;
    color: #fff;
    cursor: pointer;
    font-size: 9px;
}

.search-box .reset{
    padding: 10px 18px;
    border-radius: 8px;
    background: #fff;
    color: #999;
    cursor: pointer;
    font-size: 9px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.logs_create {
    background: linear-gradient(to right, #9d9ff0, #f896d8);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    transition: opacity 0.3s;
    font-size: 12px;
    margin-left: auto;
}

.search-result {
    margin-left: 20px;
}

.log-table {
    width: 100%;
    padding: 18px 30px;
}

.log-table th {
    padding: 8px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #555;
    border-bottom: 2px solid transparent;
    background: linear-gradient(to right, #b6b3ff, #ffb6d9);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.log-table td {
    padding: 16px 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
}

.hover-row:hover {
    background: #f7f7f7;
    transition: 0.2s;
}

.edit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s ease;
    margin-top: 10px;
}

.edit-btn:hover {
    background: #ffb6d9;
}

.pencil-icon {
    width: 33px;
    height: 33px;
    object-fit: contain;
}

.no-data {
    margin-left: 20px;
}

.pagination {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.pagination nav {
    display: flex;
    gap: 10px;
}

.pagination {
    gap: 10px;
}

.page-item .page-link {
    border: none;
    border-radius: 12px;
    color: #555;
    padding: 8px 14px;
}

.page-item.active .page-link {
    background: linear-gradient(to right, #9d9ff0, #f896d8);
    border: none;
    color: white;
}

.page-item .page-link:hover {
    background-color: #f0f0f0;
}

