body {
    background: #fafafa;
    font-family: "Helvetica Neue", "Noto Sans JP", sans-serif;
    color: #333;
}

/* 上部ステータス */
.container {
    max-width: 1200px;
    margin: 50px auto;
}

.status-box {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 16px;
    padding: 20px 40px;
    margin-bottom: 30px;
    height: 150px;
}

.status-item {
    flex: 1;
    text-align: center;
    position: relative;
}

.status-item p {
    padding-left: 50px;
    text-align: left;
}

.status-item span {
    position: relative;
    top: -35px;
    right: 10px;
    font-size: 20px;
    color: #444;
}

.status-item:not(:last-child) {
    border-right: 2px solid #ddd;
}

.status-item h2 {
    font-size: 45px;
    font-weight: 600;
    padding-left: 50px;
    text-align: left;
}

.weight-data {
    background: #fff;
    border-radius: 16px;
}

/* 検索 */
.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 20px 10px;
    right: 20px;
    padding-top: 20px;
}

.calendar-container {
    display: flex;
    align-items: stretch;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    width: 250px;
}

.search-box input[type="text"] {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    border: none;
    outline: none;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    color: #444;
    width: 210px;
}

.under-arrow {
    width: 45px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-icon {
    font-size: 14px;
    color: #ddd;
}

.calendar-container input::placeholder {
    color: #ddd;
}

.calendar-container span {
    font-size: 18px;
    color: #444;
}

.search-box .search-btn {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: #999;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    width: 110px;
}

.search-box .reset{
    padding: 10px 18px;
    border-radius: 8px;
    background: #fff;
    color: #444;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #ddd;
}

.logs_create {
    background: linear-gradient(to right, #9d9ff0, #f896d8);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    transition: opacity 0.3s;
    font-size: 22px;
    margin-left: auto;
    border: none;
}

.search-result {
    margin-left: 20px;
    margin-top: 20px;
    color: #444;
    font-size: 1.2rem;
}

.log-table {
    width: 100%;
    padding: 18px 30px;
    margin-top: 40px;
}

.log-table th {
    padding: 8px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #555;
    border-bottom: 2px solid transparent;
    background: linear-gradient(to right, #b6b3ff, #ffb6d9);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.log-table td {
    padding: 16px 10px;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #f0f0f0;
    color: gray;
}

.hover-row:hover {
    background: #f7f7f7;
    transition: 0.2s;
}

.edit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s ease;
    margin-top: 10px;
}

.edit-btn:hover {
    background: #ffb6d9;
}

.pencil-icon {
    width: 33px;
    height: 33px;
    object-fit: contain;
}

.no-data {
    margin-left: 20px;
}

.pagination {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.pagination nav {
    display: flex;
    gap: 10px;
}

.pagination {
    gap: 10px;
}

.page-item .page-link {
    border: none;
    border-radius: 12px;
    color: #555;
    padding: 8px 14px;
}

.page-item.active .page-link {
    background: linear-gradient(to right, #9d9ff0, #f896d8);
    border: none;
    color: white;
}

.page-item .page-link:hover {
    background-color: #f0f0f0;
}

/* 4. モーダルウィンドウ */
.modal {
    border: none;
    border-radius: 15px;
    padding: 0;
    height: 93%;
    margin-top: 50px;
    max-width: 800px;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
}

.modal-card {
    padding: 20px;
}

.modal-title {
    margin-top: 0;
    font-size: 1.8rem;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 8px;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.required {
    background: #ff4d4d;
    color: white;
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 5px;
}

input[class="date"],
input[type="text"],
input[type="time"]{
    width: 93%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.form-group textarea {
    width: 93%;
    height: 150px;
    resize: none;
}

.input-unit {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-unit span {
    color: #666;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.btn-back {
    background: #e0e0e0;
    color: #666;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-submit {
    background: linear-gradient(to right, #b6b3ff, #ffb6d9);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-back, .btn-submit {
    box-shadow: 5px 5px 3px #ddd;
    width: 160px;
    padding: 12px 0;
    text-align: center;
    padding: 12px 35px;
    border-radius: 6px;
}
