.title {
    color: #888;
    letter-spacing: 2px;
    font-weight: 300;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.form-group input::placeholder {
    color: #ddd;
}

input:focus {
    outline: 2px solid #3b82f6;
}


.login-link {
    display: block;
    margin-top: 15px;
    color: #4aa3df;
}