.title {
    color: #888;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 24px;
}

.step {
    color: #888;
    margin-bottom: 30px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.label {
    display: block;
    color: #333;
    margin-bottom: 6px;
    font-weight: bold;
}

.input-wrap {
    position: relative;
}

.input-wrap input {
    width: 100%;
    padding: 12px 38px 12px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

input:focus {
    outline: 2px solid #3b82f6;
}


.form-group input::placeholder {
    color: #ddd;
}

.unit {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #999;
}