body {
    background: #f5f5f7;
}

.container {
    margin: 200px auto;
    width: 400px;
    background: #fff;
}

.setting-form {
    padding: 20px 10px;
}

.setting-form h2 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-container span {
    margin-top: 40px;
}

.input {
    width: 95%;
    height: 45px;
    padding: 10px 14px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    transition: 0.2s;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}

.btn-return,
.btn-edit {
    width: 160px;
    height: 45px;
    padding: 12px 0;
    text-align: center;
    padding: 12px 35px;
}

.btn-edit {
    display: inline-block;
    min-width: 140px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #7b8cff, #ff8fb1);
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-edit:hover {
    opacity: 0.9;
}

.btn-return {
    display: inline-block;
    min-width: 140px;
    height: 44px;
    line-height: 28px;
    text-align: center;
    border-radius: 8px;
    background: #e0e0e0;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
